<nav ng-controller="SidebarController" class="navbar navbar-light bg-light col-sm-3 col-md-2 d-none d-sm-block sidebar">
    <ul class="nav navbar-nav pl-1">
        <li class="nav-item active">
            <a class="nav-link" href="#!/home">
                <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/search">
                <i class="fa fa-anchor"></i> Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/jobs">
                <i class="fa fa-tasks"></i> Jobs <span class="badge badge-info badge-pill">4</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/imports">
                <i class="fa fa-file"></i> Imports <span class="badge badge-danger badge-pill">2</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/documents">
                <i class="fa fa-file"></i> Documents
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/admin">
                <i class="fa fa-address-book"></i> Admin
            </a>
        </li>
        <hr/>
        <li class="bg-white text-{{job.color}}" style="font-size: 12px; position:relative; padding-top: 15px" ng-repeat="job in jobs">
            <span ng-if="job.state === 'Pending'" title="Pending"><i class="fa fa-pause"></i></span>
            <span ng-if="job.state === 'Running'" title="Running"><i class="fa fa-play"></i></span>
            <span ng-if="job.state === 'Completed' && !job.errorMessage" title="Completed"><i class="fa fa-check"></i></span>
            <span ng-if="job.state === 'Completed' && job.errorMessage" title="Error"><i class="fa fa-times"></i></span>
            <span style="font-size: 12px; width: 100%; overflow: hidden" title="{{job.name}}">{{job.name}}</span>
            <div class="progress w-75" style="height: 6px; margin-bottom: 2px; margin-top: 2px">
                <div class="progress-bar bg-{{job.color}}"
                     ng-class="{ 'progress-bar-animated' : job.state === 'Running' || job.state === 'Initializing', 'progress-bar-striped' : job.state === 'Running' || job.state === 'Initializing' }"
                     style="width: {{job.progress.percent}}%">

                </div>
            </div>
            <span style="position: absolute; right: 10px; top: 28px; font-size: 11px" ng-if="job.progress.total > 0">{{job.progress.current}}/{{job.progress.total}}</span>
            <span style="font-size: 11px" ng-if="job.description">{{job.description}}</span><span ng-if="job.state !== 'Completed'">...</span>
        </li>
        <hr/>

        <li class="bg-info" ng-repeat="message in messages">
            <span>{{message.date | date}}: {{message.text}}</span>
        </li>

    </ul>
</nav>