<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
            <h2>Jobs</h2>
            <hr/>
            <div ng-if="jobs.length == 0">No data available</div>

            <table class="table" ng-if="jobs.length > 0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody ng-repeat="job in jobs">
                    <tr class="clickable alert-{{job.color}}" data-toggle="collapse" data-target="#job-details-{{job.id}}">
                        <th scope="row">{{job.id}}</th>
                        <td>{{job.startTime | date: 'medium'}}</td>
                        <td>{{job.name}}</td>
                        <td>{{job.duration}}</td>
                        <td ng-if="job.status === 'Failed'">
                            <span class="badge badge-{{job.color}}">{{job.status}} : {{job.errorMessage}}</span>
                        </td>
                        <td ng-if="job.status === 'Success' && job.hasWarnings || job.hasErrors">
                            <span class="badge badge-{{job.color}}">Ran with<span ng-if="job.hasErrors"> errors</span><span ng-if="job.hasWarnings"> warnings</span></span>
                        </td>
                        <td ng-if="job.status === 'Success' && !job.hasWarnings && !job.hasErrors">
                            <span class="badge badge-{{job.color}}">Success</span>
                        </td>
                    </tr>
                    <tr class="collapse alert alert-{{job.color}}" id="job-details-{{job.id}}">
                       <td colspan="5">
                           <div>
                               <table class="table">
                                   <tr ng-repeat="log in job.logs" class="alert alert-{{log.color}}">
                                       <td>{{log.id}}</td>
                                       <td>{{log.date | date: 'medium'}}</td>
                                       <td>{{log.message}}</td>
                                   </tr>
                               </table>
                           </div>
                       </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>
