<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
            <h2>Jobs</h2>
            <hr/>
            <div ng-if="jobs.length == 0">No data available</div>

            <table class="table" ng-if="jobs.length > 0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Duration</th>
                        <th scope="col">State</th>
                    </tr>
                </thead>
                <tbody ng-repeat="job in jobs">
                    <tr>
                        <th scope="row">{{job.id}}</th>
                        <td>{{job.startTime | date: 'medium'}}</td>
                        <td>{{job.type}} Job</td>
                        <td>{{job.completeTime - job.startTime}}</td>
                        <td><span class="badge" ng-class="{ 'badge-success' : job.status.state === 'Success', 'badge-danger' : job.status.state === 'Error' }">{{job.status.state}}</span></td>
                    </tr>
                    <tr>
                       <td colspan="5">
                           <div>
                               <table class="table">
                                   <tr ng-repeat="item in job.manifestItems">
                                       <td>{{item.id}}</td>
                                       <td>{{item.date | date: 'medium'}}</td>
                                       <td ng-if="item.message">{{item.message}}</td>
                                       <td ng-if="item.document">Document '{{item.document.filename}}' <span class="badge" ng-class="{ 'badge-success' : item.status.state === 'Accepted', 'badge-danger' : item.status.state === 'Error' }">{{item.status.state}}</span></td>
                                       <td ng-if="item.page">Page '{{item.page.document.filename}}/{{item.page.pageNumber}}' <span class="badge" ng-class="{ 'badge-success' : item.status.state === 'Imported', 'badge-danger' : item.status.state === 'Error' }">{{item.status.state}}</span></td>
                                   </tr>
                               </table>
                           </div>
                       </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>
