<div class="login-page" ng-style="{'background-image':'url(/img/beagles/' + bgImage + ')'}">
    <div class="container pt-5">
        <div class="login-form alert-secondary rounded">
            <h2>Project Beagle <small class="badge badge-secondary">Beta</small></h2>
            <div class="alert alert-danger" ng-if="error" id="error">
                There was a problem logging in. Please try again.
            </div>
            <div class="alert alert-danger" ng-if="!error && session_expired" id="session_expired">
                Your session expired. Please login.
            </div>
            <form class="form-horizontal" name="loginForm" role="form" ng-submit="login()" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="text" ng-model="credentials.email" class="form-control input-underline input-lg" id="inputEmail" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" ng-model="credentials.password" class="form-control input-underline input-lg" id="inputPassword" placeholder="Password" required>
                    </div>
                    <button name="loginBtn" type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid"><i class="fa fa-sign-in"></i> Login</button>
                </div>

            </form>
        </div>
    </div>
</div>